{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins" : [
    "react",
    "react-native"
  ],
  "env"     : {
    "browser" : true,
    "es6":true,
    "node":true
  },
  "globals" : {
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true,
    "modules": true
  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2
  }
}
